.header {
  text-align: center;
  padding: 10px;
  background-color: bisque;
}

.input-fields {
  margin: 5%;
  margin-left: 10%;
}

.selCont {
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: rgb(235, 240, 194);
}

.card {
  margin: 20px;
}
