.header {
  text-align: center;
  padding: 10px;
  background-color: #0000cd;
  color: lightgrey;
}

.input-fields {
  margin: 5%;
  margin-left: 10%;
}

.selCont {
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: #0000cd;
  color: lightgrey;
}

.card {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.saveBtn {
  border-radius: 8%;
  background-color: rgb(136, 119, 243);
  color: white;
}

#whatsThis {
  border-radius: 15%;
  background-color: yellow;
}

.navbar-expand-lg {
  background-color: #00008b;
  color: black;
  font-family: "Piazzolla", serif;
}

body {
  background-size: 100%;
  background-image: url("./medical-image.jpeg");
}

span {
  padding: 3px;
  font-family: "Piazzolla", serif;
}

h5 {
  font-family: "Piazzolla", serif;
}

.results-div {
  align-items: center;
}
